body {
  background: black;
}
body * {
  color: #fff;
  font-family: "Airal", sans-serif;
}
.canvas-image, .canvas-subtile {
  position: absolute;
  text-align: center;
  width: 100%;
}
.canvas-video {
  margin: 0 auto;
  text-align: center;
}
#img, #video {
  display: none;
}
.speed-control {
  text-align: center;
}
.speed-control select {
  width: 100px;
  margin-left: 10px;
}
