body {
  background: black;
}
.canvas-image, .canvas-subtile {
  position: absolute;
  text-align: center;
  width: 100%;
}
.canvas-video {
  margin: 0 auto;
  text-align: center;
}
#img, #video {
  display: none;
}
